// typography

$primary-font-family: "Work Sans", Verdana, sans-serif;
$secondary-font-family: "Bitter", Georgia, serif;


$body-font-family: $primary-font-family;
$heading-font-family: $secondary-font-family;


