<div id="footer">
    <div class="container">
        <ul class="social-links">
            <li>
                <a href="{{ this.theme.facebook_url }}" target="_blank">Facebook</a>
            </li>
            <li>
                <a href="{{ this.theme.twitter_url }}" target="_blank">Twitter</a>
            </li>
            <li>
                <a href="{{ this.theme.instagram_url }}" target="_blank">Dribble</a>
            </li>
        </ul>

        <p class="footer-info">
            <small>2019 &copy; All Rights Reserved </small>
        </p>
    </div>

</div>