<nav class="nav">
    <div class="container">
        <div class="nav--wrapper">
            <a href="/" class="nav--logo">
                <img src="{{ this.theme.site_logo.path }}" class="u-max-full-width" alt="logo">
                <h1>{{ this.theme.site_name }}</h1>
            </a>
            <!-- end nav logo -->
            <div class="nav--toggle-button">
                <button><span class="nav--toggle-icon"></span></button>
            </div>
            <ul class="nav--navbar">
                <li>
                    <a href="#header">About</a>
                </li>
                <li>
                    <a href="#work">Work</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
            <!-- end nav bar-->
        </div>
    </div>
</nav>
<!-- end nav -->